#cardId {
    width: 25%;
    border: 2px solid black;
    box-shadow: 7px 10px greenyellow;
    padding: 10px;
    display: inline-flex;
    justify-content: space-between;
    margin: 15px;
    align-items: center;
    flex-direction: column;
}

Button {
    width: 100%;
    margin: 5px;
}

#quantityId {
    width: 30%;
    display: flex;
    justify-content: space-between;
}

#inputId {
    margin-left: 5px;
}

#viewId {
    width: 100%;
    margin-right: 10px;
}