#cartContainer {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
}

#cartList {
    margin: 5px;
    width: 50%;
    flex-wrap: wrap;
    border: 1px solid black;
    padding: 10px;
    margin-left: 25px;
}

#checkout {
    display: inline-table;
    width: 50%;
    margin: 10px;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 100px;
}

#checkoutButton {
    width: 50%;
}